.App-main {
  background-color: #282c34;
  height: 100vh;
  margin: auto;
  display: grid;
  place-items: center;
  grid-template-rows: 3fr 1.5fr 1fr 1fr;
  color: white;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}

.box {
  display: grid;
  place-items: center;
  border: 1px solid white;
  width: 90%;
  min-height: 80%;
  max-width: 70rem;
}

.button {
  margin: 1rem;
  width: 60%;
  height: 50%;
  max-width: 40rem;
  font-size: 3vh;
}

.Timer {
  font-size: 9vh;
}

.ModeDisplay {
  font-size: 5vh;
}
